/* https://css-tricks.com/box-sizing/#aa-universal-box-sizing-with-inheritance */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* variables */
:root,
:host {
	--size-font: 17px;
	--size: 1.5em;
	--size-font-0: 1rem;
	--size-font-h1: 2rem;
	--size-font-h2: 1.8rem;
	--size-font-h2: 1.6rem;
	--size-font-h3: 1.4rem;
	--size-font-s1: 0.9rem;
	--size-font-s2: 0.8rem;
}
@media screen (min-width: 50rem) {
	:root,
	:host {
		--size-font: 21px;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	r4-app {
		--color-text: white;
		--color-background: black;
		--color-link: purple;
	}
}
@media (prefers-color-scheme: light) {
	:root,
	r4-app {
		--color-text: black;
		--color-background: white;
		--color-link: cyan;
	}
}

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* variables applied */
:root,
:host {
	font-size: var(--size-font);
	background-color: var(--color-background);
	color: var(--color-text);
}

/* animations */
@keyframes LoadingRotate {
	0% {
		transform: rotate(0);
		opacity: 1;
	}
	100% {
		transform: rotate(-360deg);
		opacity: 0;
	}
}

/* text */
a {
	color: var(--color-text);
}

/* form */
fieldset {
	border: none;
}
input,
button {
	padding: calc(var(--size) / 2);
}
/* styling the app itself */
network-4000 {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}
network-4000:not([subdomain]) {
	align-items: center;
}

network-profile {
	flex-grow: 1;
	width: 100%;
}

network-4000[is-editing="true"] {
	flex-direction: row;
}
network-profile-edit {
	border: 1px solid var(--color-text);
	padding: var(--size);
}
network-search {
	display: flex;
	align-items: center;
}
network-search[results-count]::after,
network-search[total-count]::after {
	display: inline;
	font-style: italic;
}
network-search[total-count]::after {
	content: attr(total-count);
}
network-search:not([total-count])::after {
	content: "¿";
	animation: LoadingRotate 333ms infinite ease-in-out;
}
